* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    @include content-width;
    margin: 5em auto;
}

// typo
// h1, h2, h3, h4, h5, h6
h1, h2, h3, h4, h5, h6 {
    margin: 3em 0 1em 0;
}
h1 {
    text-transform: uppercase;
}
p, ul, ol {
    line-height: 1.75;
}

// quotes
blockquote {
    border-left: 0.25rem solid gainsboro;
    margin-left: 0;
    padding-left: 3rem;
    p {
        font-style: italic;
        margin: 0;
    }
}

// #images
img {
    max-width: 100%;
}
figure {
    margin: 0;
    padding: 0;
}
figcaption {
    @include dim;
    font-size: .75em;
}
// /images


time {
    font-size: .75em;
    font-weight: bold;
}


// code
pre {
    border-radius: .25rem;
    padding: 1em;
    background-color: #CCC;
}
#commento {
    pre {
        border-radius: 0;
        padding: inherit;
        background-color: inherit;
    }
}

hr {
    border: 0;
    border-bottom: 1px dashed rgba(0,0,0,0.5);
    margin: 2em 0;
    opacity: .5;
}

article,aside,nav,section {
    h1 {
        font-size: 2em;
    }
}

// table
table {
    background: #EEE;
}

td, th {
    padding: .25rem;
    background: white;
}

// anchors
a {
    color: black;
}
