.link-button {
	@include dim;
	display: inline-block;
	padding: 0.15em .75em;
	border-radius: .25rem;
	font-family: sans-serif;
	margin: .5rem 0;
	font-size: 0.8rem;
	text-decoration: none;
	transition: .2s;
	border: 1px solid;
	&:hover {
		border: 1px solid;
		opacity: 1;
		text-decoration: none!important;
	}
}
