#mc_embed_signup {
    text-align: center;
    border-radius: .25rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background: white;
    color: black;
    padding: .25rem;
    margin: 5rem 0;

    form#mc-embedded-subscribe-form {
        @include ticket;
        padding: .5rem .5rem 1rem .5rem;
    }

    label {
        font-family: monospace;
        margin: .5rem;
        font-weight: normal !important;
    }

    .button#mc-embedded-subscribe, input.email#mce-EMAIL {
        font-family: monospace;
        border: 1px solid rgba(0,0,0,.25);
        border-radius: .25rem;
        background: white;
        color: black;
        // text-align: center;
    }
    .button#mc-embedded-subscribe {
        text-align: left;
    }
}
