@mixin content-width {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5rem;
}

@mixin dim {
    opacity: .75;
}

@mixin intro {
    font-weight: bolder;
    font-size: 1.2em;
}

@mixin ticket {
    border: 1px solid rgba(0,0,0,.25);
    border-radius: .25rem;
}
