.nav-wrapper {
    @include content-width;
}
.nav {
    margin: 2em -.5rem;
    &__link {
        vertical-align: middle;
        text-decoration: none;
        display: inline-block;
        padding: 1.25rem .5rem;
        color: black;
        font-family: sans-serif;
        opacity: .75;
        transition: .2s;
        line-height: 0.75rem;
        &:first-child {
            margin-top: 0;
            font-style: italic;
            font-weight: bold;
            font-size: 1rem;
            text-transform: uppercase;
            position: absolute;
            top:0; left: 0;
            padding: 1.25rem .5rem;
            @media (min-width: 850px) {
                padding: 3.25rem .5rem;
                position: fixed;
                opacity: .5;
            }
        }
        &:hover, &:active, &:focus {
            opacity: 1;
        }
    }
}
