.post-list {
    border-bottom: 1px dashed rgba(0, 0, 0, .5);

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__meta {
        text-transform: uppercase;
        font-family: sans-serif;
    }
    &__item-tags {
        font-size: .75rem;
        font-weight: bold;
        margin: 0 -.25rem;
    }
    &__item-tag {
        display: inline-block;
        padding: 0 .25rem;
        &:not(:last-child) {
            border-right: 1px solid rgba(0,0,0,0.5);
        }
    }

    &__item-date {
        @include dim;
    }

    &__title, &__intro {
        margin: 0;
        padding: 0;
    }

    &__item {
        margin: 2em 0;
        padding: 1em 0;
        border-top: 1px dashed rgba(0, 0, 0, .5);
    }
}
