.post-list {

    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__meta {
        @include dim;
    }

    &__title, &__intro {
        margin: 0;
        padding: 0;
    }

    &__item {
        margin: 2em 0;
        padding: 1em 0;
        border-top: 1px dashed rgba(0, 0, 0, .5);
    }
}
