.post-list {

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__meta {
        @include dim;
    }

    &__title, &__intro {
        margin: 0;
        padding: 0;
    }
}
