---
layout: default
---

<div class="home">

    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <div class="post-list">
        <h2 class="post-list__heading">{{ page.list_title | default: "" }}</h2>
        <ul class="post-list__list">
            {%- for post in site.posts -%}
            <li>
                {%- assign date_format = site.minima.date_format | default: "%d.%m.%Y" -%}
                <span class="post-list__meta">{{ post.date | date: date_format }}</span>
                <h3 class="post-list__title">
                    <a class="" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h3>
                <p class="post-list__intro">{{ post.intro | escape }}</p>
                {%- if site.show_excerpts -%}
                {{ post.excerpt }}
                {%- endif -%}
            </li>
            {%- endfor -%}
        </ul>
    </div>
    {%- endif -%}
    {%- if site.posts.size == 0 -%}
    <pre>Il primo post uscirà il 24.05.2020.</pre>
    {%- endif -%}


</div>
