---
layout: default
---

<div class="page">

    {%- if page.title -%}
    <h1 class="page__heading">{{ page.title }}</h1>
    {%- endif -%}

    {%- if page.intro -%}
    <section class="page__intro">
        {{ page.intro }}
    </section>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <div class="post-list">
        <h2 class="post-list__heading">{{ page.list_title | default: "" }}</h2>
        <ul class="post-list__list">
            {%- for post in site.posts -%}
                <li class="post-list__item">
                    {%- assign date_format = site.minima.date_format | default: "%d.%m.%Y" -%}
                    <div class="post-list__content">
                        {%- if post.img_src -%}
                            <div class="post-list__image">
                                <a class="" href="{{ post.url | relative_url }}">
                                    <img src="/assets/images/posts/thumbs/{{post.img_src}}" alt="{{post.img_alt}}">
                                </a>
                            </div>
                        {%- endif -%}
                        <div class="post-list__text">
                            <div class="post-list__meta">
                                <a href="{{ post.url | relative_url }}" class="post-list__item-date">
                                    {{ post.date | date: date_format }}
                                </a>
                            </div>
                            <h3 class="post-list__title">
                                <a class="" href="{{ post.url | relative_url }}">
                                    {{ post.title | escape }}
                                </a>
                            </h3>
                            <p class="post-list__intro">
                                <a class="" href="{{ post.url | relative_url }}">
                                    {{ post.subtitle }}
                                </a>
                            </p>
                            <a href="{{ post.url | relative_url }}" class="post-list__item-button link-button">Vai al post</a>
                        </div>
                    </div>
                    {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
    </div>
    {%- endif -%}
    {%- if site.posts.size == 0 -%}
    <pre>Il primo post uscirà il 24.05.2020.</pre>
    {%- endif -%}

    {%- include mailchimp.html -%}

</div>
