---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post__header">
        <time class="" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%d.%m.%Y" -%}
            {{ page.date | date: date_format }}
        </time>
        <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post__subtitle">{{ page.subtitle }}</p>
        <p class="post__meta">
            <!-- {%- if page.author -%}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="" itemprop="name">{{ page.author }}</span></span>
            {%- endif -%} -->
        </p>
    </header>

    <section class="post__intro">
        {{ page.intro }}
    </section>

    <section class="post-content" itemprop="articleBody">
        {{ content }}
    </section>

    {%- if site.disqus.shortname -%}
    {%- include comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
